# macOS
.DS_Store

# Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcuserstate
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Packages/
Package.pins
Package.resolved
*.xcodeproj
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Checkouts
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Temporary & lock files
*.swp
*.lock
